@import url(http://fonts.googleapis.com/css?family=Nunito);
/*-------------------------------------------------------------------------------------------------------------*/

/*FIRST PAGE: INDEX.HTML*/
a:link{
  color:white;
  text-decoration: none;
}
a:visited{
  color:white;
  text-decoration: none;
}
a:hover{
	color: black;
  text-decoration: none;
}

/*-------------------------------------------------------------------------------------------------------------*/
div{
	text-align: center;
}
/*-------------------------------------------------------------------------------------------------------------*/
/*LOS ANGELES CALIFRONIA PORTION*/
#index{
	background-image: url('back.jpg');
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
}
#la{
	color: white;
	text-align: center;
	font-size: 18pt;
	margin-top: 40px;
	font-family: 'Slabo 27px', serif;

}
hr{
	width: 12%;
	border: 0;
	border-top: 1px solid #FFF;
	display: inline-block;
}
/*----------------------------------------------------------------------------------------------------------*/
/*AMBER DOUGLAS PORTION*/
h1{
	margin-top: 17px;
	text-align: left;
	color: white;
	background-clip: url ('sparkle.jpg');
	font-size: 30pt;
	margin-bottom: -42px;
	font-family: 'Lobster', cursive;
	padding-left: 20px;
}
h2{
	margin-top: 17px;
	text-align: left;
	color: white;
	background-clip: url ('sparkle.jpg');
	font-size: 30pt;
	margin-bottom: -42px;
	font-family: 'Lobster', cursive;
	padding-left: 20px;
}
/*----------------------------------------------------------------------------------------------------------*/
/*"YOUNG UPCOMING DEVELOPER PORTION*/
#slogan {
	text-align: center;
	color: white;
	font-size: 22pt;
	font-family: 'Slabo 27px', serif;
}
/*----------------------------------------------------------------------------------------------------------*/
/*Link Style*/
#header{
	position: relative;
	top: -10px;
	background-color: #253426;
	padding-bottom: 7px;
}
#navbar{
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: -245px;
}
#ilink{
	/*position: fixed;*/
	 /*margin-top: 368px;*/
	 margin-left: 40px;
}

li{
	display: inline;
	color: white;
	border-radius: 5px;
	opacity: 0.9;
	margin: 10px;
}

#nope{
	display: inline;
	color: black;
	opacity: 1.9;
	margin: 10px;
	font-size: 17px;

}

/*SUB MENU?---------------------------------------------------------------------------------------------*/
/* Style The Dropdown Button */
.dropbtn {
    background-color: #253426;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
		    margin-left: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #a3eca3;
    color: black;
}


/*----------------------------------------------------------------------------------------------------*/


footer{
	margin-top: 300px;
	color: gray;
	font-family: 'Rochester', cursive;
}
/*----------------------------------------------------------------------------------------------------------
/*2ND PAGE: Projects Page*/

/*----------------------------------------------------------------------------------------------------------*/

/*LINKS AT THE TOP OF THE PAGE*/
.project{
	background-image: url('https://download.unsplash.com/photo-1428908728789-d2de25dbd4e2');
	color: white;
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
}
#plink{
	 margin-top: 30px;
	 font-family: 'Nunito', sans-serif;
}
#nope2{
	display: inline;
	font-family: 'Slabo 27px', serif;
	color: black;
	padding: 18px;
	background-color: #FFE0C2;
	border-radius: 5px;
	opacity: 1.9;
	margin: 10px;
}
/*IMAGES OF FIRST TWO PREVIOUS WEBSITES*/
#imgs{
	margin-top: 40px;
 	margin-bottom: 20px;
}
/*THE STYLE FOR THE PARAGRAPHS*/
#parayafs{
	font-family: 'Nunito', sans-serif;
}
#one{
	width: 400px;
	float: left;
	margin-left: 235px;
	color: black;
}
#two{
	width: 400px;
	float: right;
	margin-right: 240px;
	color: black;
}
/*THE STYLE FOR THE FOUR LINKS FOR THE PREVIOUS PROJECTS*/
#nope3{
	font-family: 'Nunito', sans-serif;
	color: black;
	margin-right: 215px;
  	margin-left: 160px;
	text-align: center;
}
/*SECOND SET OF IMAGES ON THE PROJECTS PAGE*/
#imgs2{
	margin-top: 20px;
 	margin-bottom: 20px;
}

/*MOBILE RESPONSIVE TYPE SHIT*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {

}
